<h1>NEW SALES TARGET</h1>
<hr>
<style>
lable{
	margin-top:5px;
	width:150px;
	font-size:22px;
	float:left;
	color:white;
}
input{
	margin-top:10px;
	margin-left:30px;
	width:300px;
	height:30px;
}
.button{

	margin-left:40%;
	width:100px;
	height:30px;

}
form{

	background-color: #FF9800;
	padding: 10px;
	margin-top:100px;
	width:1000px;
	height:500px;
	margin-left:300px;

}
select{
	width:100px;
	height:20px;
	margin-left:10px;
}
.text{
	margin-left:140px;
}

</style>


<form action="/sales" method="post">

<lable>Sales man name:</lable>
<input type="text" class="text" id="area" name="name" placeholder="enter name" required><br>
<lable>Area's':</lable>
<input type="text" class="text" id="area1" name="area1" placeholder="enter area one" required><br>
<lable>Area's':</lable>
<input type="text" class="text" id="area2" name="area2" placeholder="enter area two" required><br>
<lable>Area's':</lable>
<input type="text" class="text" id="area3" name="area3" placeholder="enter area three" required><br>
<lable>Area's':</lable>
<input type="text" class="text" id="area4" name="area4" placeholder="enter area four" required><br>

<lable>Area & Target 1:</lable>
<select onclick="displayname()" name="areacheckone" required>
  <option id="areaid1"></option>
  <option id="areaid2"></option>
  <option id="areaid3"></option>
  <option id="areaid4"></option>
  <option id="areaid5"></option>
</select><input type="number" name="target1" placeholder="enter target amount " required>
<input type="number" name="percentage1" placeholder="enter percentage amount" required><br>

<lable>Area & Target 2:</lable>
<select onclick="displayname1()" name="areachecktwo" required>
  <option id="areaid11"></option>
  <option id="areaid12"></option>
  <option id="areaid13"></option>
  <option id="areaid14"></option>
  <option id="areaid15"></option>
</select><input type="number" name="target2" placeholder="enter target amount" required>
<input type="number" name="percentage2" placeholder="enter percentage amount" required><br>

<lable>Area & Target 3:</lable>
<select onclick="displayname2()" name="areacheckthree" required>
  <option id="areaid21"></option>
  <option id="areaid22"></option>
  <option id="areaid23"></option>
  <option id="areaid24"></option>
  <option id="areaid25"></option>
</select><input type="number" name="target3" placeholder="enter target amount" required>
<input type="number" name="percentage3" placeholder="enter percentage amount" required><br>

<lable>Area & Target 4:</lable>
<select onclick="displayname3()" name="areacheckfour" required>
  <option id="areaid31"></option>
  <option id="areaid32"></option>
  <option id="areaid33"></option>
  <option id="areaid34"></option>
  <option id="areaid35"></option>
</select><input type="number" name="target4" placeholder="enter target amount" required>
<input type="number" name="percentage4" placeholder="enter percentage amount" required><br>
<input class="button" type="submit" name="add" value="add">

</form>

<script>

function displayname(event) {

 document.getElementById("areaid1").innerHTML = document.getElementById("area1").value;
 document.getElementById("areaid2").innerHTML = document.getElementById("area2").value;
 document.getElementById("areaid3").innerHTML = document.getElementById("area3").value;
 document.getElementById("areaid4").innerHTML = document.getElementById("area4").value;

}

function displayname1(event) {

 document.getElementById("areaid11").innerHTML = document.getElementById("area1").value;
 document.getElementById("areaid12").innerHTML = document.getElementById("area2").value;
 document.getElementById("areaid13").innerHTML = document.getElementById("area3").value;
 document.getElementById("areaid14").innerHTML = document.getElementById("area4").value;

}

function displayname2(event) {

 document.getElementById("areaid21").innerHTML = document.getElementById("area1").value;
 document.getElementById("areaid22").innerHTML = document.getElementById("area2").value;
 document.getElementById("areaid23").innerHTML = document.getElementById("area3").value;
 document.getElementById("areaid24").innerHTML = document.getElementById("area4").value;

}

function displayname3(event) {

 document.getElementById("areaid31").innerHTML = document.getElementById("area1").value;
 document.getElementById("areaid32").innerHTML = document.getElementById("area2").value;
 document.getElementById("areaid33").innerHTML = document.getElementById("area3").value;
 document.getElementById("areaid34").innerHTML = document.getElementById("area4").value;

}
</script>